# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.I May Have Lost All Control But At Least I Found Your Bag.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\GGJ 2021\I May Have Lost All Control But At Least I Found Your Bag\.idea\.idea.I May Have Lost All Control But At Least I Found Your Bag\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
